<!DOCTYPE html>
<html lang="ko">

    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css">

        <title>첫 화면</title>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">

        <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script src="/js/user.js"></script>

        <script>
                        console.log(`%c안%c녕 %c난 %c프%c론%c트%c야`, 
                        "color: red; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: orange; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: yellow; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: #9BFA73; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: #C0FFFF; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: #0000CD; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px", 
                        "color: violet; font-style: italic; padding: 4px; border-radius: 4px; font-size: 88px")
            console.log(`%c                                                                                                                                                   


 .d8888b.                             888    888                            
d88P  Y88b                            888    888                            
Y88b.                                 888    888                            
 "Y888b.    8888b.  88888b.   .d88b.  8888888888 888  888 888  888 88888b.  
    "Y88b.     "88b 888 "88b d88P"88b 888    888 888  888 888  888 888 "88b 
      "888 .d888888 888  888 888  888 888    888 888  888 888  888 888  888 
Y88b  d88P 888  888 888  888 Y88b 888 888    888 Y88b 888 Y88b 888 888  888 
 "Y8888P"  "Y888888 888  888  "Y88888 888    888  "Y88888  "Y88888 888  888 
                                  888                 888                   
                             Y8b d88P            Y8b d88P                   
                              "Y88P"              "Y88P"                    



`, "color:#FFC3FA")
            console.log(`%c




 .d8888b.                888          888              d8b          888      
d88P  Y88b               888          888              Y8P          888      
888    888               888          888                           888      
888         .d88b.   .d88888  .d88b.  88888b.  888d888 888  .d8888b 888  888 
888        d88""88b d88" 888 d8P  Y8b 888 "88b 888P"   888 d88P"    888 .88P 
888    888 888  888 888  888 88888888 888  888 888     888 888      888888K  
Y88b  d88P Y88..88P Y88b 888 Y8b.     888 d88P 888     888 Y88b.    888 "88b 
 "Y8888P"   "Y88P"   "Y88888  "Y8888  88888P"  888     888  "Y8888P 888  888 




`, "color:powderblue")
            $(document).ready(function () {

                loadPost()

                if ( localStorage.getItem("token") ) {
                    userName()
                    $('#join').hide()
                    $('#login').hide()
                } else {
                    $('#logout').hide()
                }
                // if localStorage.getItem("token") ? userName() : return
                // 죄송합니다
            })

            function loadPost() {
                // $("#postlist").empty()
                $.ajax({
                    type: "GET",
                    url: `/api/post`,
                    data: {},
                    success: function (response) {
                        let post = response["post"]
                        console.log(post)
                        for ( let i = 0; i < post.length; i++ ) {
                                                                            // detail?postId=${post[i]['postId']}
                            let temp_html = `<tr onclick="window.location='detail/${post[i]["postId"]}';">
                                                <a href="/detail"><td scope="col">${post[i]["title"]}</td></a>
                                                <td scope="col">${post[i]["author"]}</td>
                                                <td scope="col">${post[i]["date"]}</td>
                                            </tr>`
                            $("#postlist").append(temp_html)
                        }
                    }
                })
            }

            function makePost() {
                window.location.href="/new"
            }

        </script>

        <style type="text/css">
            * {
                font-family: "Do Hyeon", sans-serif;
            }

            h1,
            h5 {
                display: inline;
            }

            .info {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .post {
                margin-top: 20px;
                text-align: center;
                cursor: pointer;
                transition: transform 300ms ease;
                
            }
            .post:hover {
                transform: scale(1.1);
            }

            .reviews {
                margin-top: 100px;
            }
            .container {
                width: 600px;
                text-align: center;
            }
            .hero-body {
                text-align: center;
            }
            .join-box {
                text-align: center;
                /* display: inline; */
            }
        </style>
    </head>

    <body>
        <section class="hero is-primary">
            <div class="hero-body">
                <p class="title">
                    <a href="/">Tokopedia API + Webhook Test</a>
                </p>
                <p class="subtitle">
                    처음 만든 블로그는... 수치스러울 정도로 엉망진창인데??? ㅋㅋㅋ...
                </p>
                <div id="name">
                    <!-- <p>
                    </p> -->
                </div>

            </div>
            </section>
            <div class="join-box">
                <div class="">
                    <button id="join" onclick="join()" class="button is-primary">회원가입</button>
                </div>
                <div class="">
                    <button id="login" onclick="login()" class="button is-primary">로그인</button>
                </div>
                <div class="">
                    <button id="logout" onclick="logout()" class="button is-primary">로그아웃</button>
                </div>
            </div>

            <div class="post">
                <button onclick="makePost()" class="button is-primary">글 작성하기</button>
            </div>

        <div class="container">
            <div class="reviews">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">날짜</th>
                    </tr>
                    </thead>
                    <tbody id="postlist">

                    </tbody>
                </table>
            </div>
        </div>
    </body>

</html>